body {
font-family: 'Roboto', sans-serif;
color: var(--color-contacts-p);
background-color: var(--white-color);
letter-spacing: 0.02em;
}



/* additional properties */
.link {
text-decoration: none;
}
.list {
    list-style: none;
}
.hidden {
    display: none;
}

/*HEADER */
.trademark-link {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.trademark-dark {
    color: #2E2F42;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
} 
.nav-link {
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: #4D5AE5;
}

.mail-link {
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.mail-link:hover,
.mail-link:focus {
    color: #4D5AE5;
}
.phone-link{
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.phone-link:hover,
.phone-link:focus{
    color: #4D5AE5;
}

/* HERO SECTION */
.first-sec { 
background: #2E2F42;
}
.first-sec-title {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
}
.hero-button {
    font-family: Roboto; 
    font-style: normal;  
    font-weight: 500;  
    font-size: 16px;  
    line-height: 1.5;  
    letter-spacing: 0.04em;  
    color: #FFFFFF;  
    cursor: pointer;  
    background: #4D5AE5;
}
.hero-button:hover
.hero-button:hover{
    background-color: #404BBF;
}

/* SECOND SECTION */
.second-sec-title {
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.second-sec-text {
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* THIRD SECTION */
.third-sec-title {
    color: #2E2F42;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.pic-third-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

/* FOURTH SECTION */
.fourth-sec {
    background: #F4F4FD;
}
.team {
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-name {
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.prof-name {
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* FOOTER SECTION */
.footer-sec {
    background: #2E2F42;
}
.logo-link {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-white {
    color: #F4F4FD;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text {
    color: #F4F4FD;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* ========= PORTFOLIO =========== */

/* === HEADER PORTFOLIO === */
.trademark-link {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.trademark-dark {
    color: #2E2F42;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* BUTTONS AND PICTURES */
.button {
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
    color: #FFFFFF;
    background: #404BBF;
}

/* PROJECTS */
.project-name {
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.project-text {
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
/* FOOTER */
.footer-link {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-footer {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}